.my-link{
    text-decoration: none;
}
.outer{
    position: absolute;
    background-color: #FFB1A4;
    height: 700px;
    width: 1200px;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

.inner-left{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.inner-right{
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.svg-image{
    height: 300px;
}