<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLinkActive="router-link-active">
            <fa-icon class="me-1" [icon]="faPaperPlane" [ngStyle]="{'color': 'red'}"></fa-icon>
            Flight Planner
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-auto">
                <button class="btn btn-danger btn-sm" (click)="onClickLogout()" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="mt-5">
        <app-flight-plan></app-flight-plan>
    </div>
</div>