<div class="container p-2">
    <div class="row align-items-center">
        <div class="col">
            <h5 class="card-title">Origin:</h5>
        </div>
        <div class="col ms-auto">
            <div>
                <select class="form-select" name="flightOrigin" [(ngModel)]="flightOrigin"
                    aria-label="Default select">
                    <option hidden>Select City</option>
                    <option *ngFor="let city of cities">{{city.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row align-items-center mt-3">
        <div class="col">
            <h5 class="card-title">Destination:</h5>
        </div>
        <div class="col ms-auto">
            <div>
                <select class="form-select" name="flightDestination" [(ngModel)]="flightDestination"
                    aria-label="Default select">
                    <option hidden>Select City</option>
                    <option *ngFor="let city of cities">{{city.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row align-items-center mt-3">
        <div class="col">
            <h5 class="card-title">Cost:</h5>
        </div>
        <div class="col ms-auto">
            <div>
                <input type="number" name="flightCost" [(ngModel)]="flightCost" class="form-control"
                    id="formControlFlightCost" placeholder="5000">
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around align-items-center mt-3">
        <div class="col-auto">
            <button class="btn btn-primary" (click)="onClickUpdateFlight()">Update</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-danger" (click)="onClickCancel()">Cancel</button>
        </div>
    </div>
</div>