<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-auto">
            <h1>
                <strong>Sign Up</strong>
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <form (ngSubmit)="onClickSignup()">
                <div class="mb-3">
                    <label for="InputEmail" class="form-label">Email address</label>
                    <input type="email" name="email" [(ngModel)]="email" class="form-control" id="InputEmail"
                        aria-describedby="emailHelp" autocomplete="current-email">
                </div>
                <div class="mb-3">
                    <label for="InputPassword" class="form-label">Password</label>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control"
                        id="InputPassword" autocomplete="current-password">
                </div>
                <div class="row align-items-center justify-content-center mb-3">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Signup</button>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-auto">
                        Already have an account? <a routerLink="/" class="my-link">Login Here</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>